@import './style/fonts'
@import './style/colors'
@import './style/mixins'
@import './style/header'
@import './style/abilities'
@import './style/loops'
@import './style/tools'
@import './style/learning'
@import './style/projects'
@import './style/contact'
@import './style/footer'
@import './style/navbar'
@import './style/media'
@import './style/tech&skill'


*
  box-sizing: border-box

body
  background-color: $body-bgcolor
  font-family: 'Lato', sans-serif
  margin: 0 auto
  padding-top: 50px

.row
  +clearfix

[class*='col-']
  float: left
  min-height: 145px
  padding: 1px
