@import 'colors'

section
  display: flex
  justify-content: center
  padding: 20px

  .contact

    img
      +img-dimm(50%, 300px, 300px)
      align-items: center
      display: flex
      justify-content: center
      margin: 50px auto

    h1
      position: relative

    span
      position: absolute
      top: -100px

  .contact-info
    font-size: 18px
    line-height: 40px
    padding: 20px 0 0
    text-align: center

    p
      color: $white
      font-family: $font-roboto
      font-size: 22px
      margin: 0

    a
      &:hover
        text-decoration: none

  .my-cv
    +contact-icon-hover($white, .5s ease-in-out)

  .git
    +contact-icon-hover($white, 0)

  .linkedin
    +contact-icon-hover($linked-hover, 0)

  .mail
    +contact-icon-hover($mail-hover, 0)

  .facebook
    +contact-icon-hover($fb-hover, 0)

  .icons
    align-items: center
    color: $black
    display: flex
    justify-content: center

    a
      text-decoration: none

.contact-tech
  margin-top: 0


  
