//102px - 1441px
@media only screen and (min-width: 1023px) and (max-width: 1441px)

  header
    .main-content
      height: 132vh

//769px - 1024px
@media only screen and (min-width: 769px) and (max-width: 1024px)

  header

    .main-content
      height: 132vh

  .description

    h2
      margin: 40px 0

  .projects
    margin: 40px 0

//769px - 991px
@media only screen and (min-width: 769px) and (max-width: 991px)

  @for $i from 1 through 12
    .col-m-#{$i}
      width: 100% / 12 * $i

    .big-container .abilities .ability img:hover
      transform: none

    .big-container .technologies .border .ability .ability-image img:hover
      transform: none

    .row p
      font-size: 21px
      margin-left: 25%
      max-width: 335px
      padding: 0 20px
      text-align: justify

//<768px
@media only screen and (max-width: 768px)

  @for $i from 1 through 12
    .col-m-#{$i}
      width: 100% / 12 * $i

  @for $i from 1 through 12
    .col-s-#{$i}
      width: 100% / 12 * $i

    header

      .about

        h2
          font-size: $base-font + 12px
          max-width: 418px

        p
          font-size: $base-font + 6px
          letter-spacing: 1px
          margin-left: 5%
          max-width: 335px
          text-align: justify
          word-break: keep-all
          word-spacing: -3px

      .main-content
        height: 137vh

    .big-container

      .abilities

        .border .ability .ability-image img:hover
          transform: none

        .ability-description
          padding-top: 0


      .technologies

        .border .ability .ability-image img:hover
          transform: none

        .ability-description
          padding-top: 0

    [class*='col-']
      float: none

    .description

      .projects
        border: 0
        display: grid
        max-width: 425px
        padding: 15px 0

    img
      max-width: 320px

    .technologies .skills

      h2
        font-size: 4vw

    .abilities .skills

      h2
        font-size: 4vw

    .tools

      h2
        font-size: 4vw

    .navbar,
    .navbar-inverse
      padding-right: 20px

    .navbar-inverse .navbar-nav li a:hover
      background-color: #222
      transition: none

    .contact-tech
      margin-top: 0

    .projects
      margin-bottom: 0

    .icons i:hover
      color: $black

    section .contact-info .my-cv:hover
      color: $black

//<425px
@media only screen and (max-width: 425px)

  @for $i from 1 through 12
    .col-s-#{$i}
      width: 100% / 12 * $i

    header

      .main-content
        background: none
        height: auto
        min-height: 140vh

      .about

        p
          letter-spacing: 1
          margin: 0 auto
          padding-bottom: 0
          white-space: pre-line

    .technologies

      .skills

        h2
          position: relative
          top: 15px
          vertical-align: middle

    .box .abilities

      .skills

        h2
          // position: relative
          vertical-align: super

      .tools

        h2
          position: relative
          top: 10px
          vertical-align: middle

    section

      .contact

        img
          height: 200px
          width: 200px

    .description

      h2
        font-size: 36px
        margin: 30px 0

    .description

      .projects
        border: 0
        display: grid
        margin-top: 0
        max-width: 425px
        padding-bottom: 0

      img
        margin: 0

      .photo-last
        max-height: 160px
        max-width: 200px

    .navbar-toggle
      float: left
      margin: 15px 25px

    .contact-tech
      padding: 10px 0 0

    .navbar-inverse .navbar-nav li a
      text-align: center

//<375px
@media only screen and (max-width: 375px)

  header

    .main-content
      max-height: 120vh

    .about

      p
        line-height: 130%
        margin: 1%

//<320px
@media only screen and (max-width: 320px)

  header

    .main-content
      height: 150vh

    .about

      p
        font-size: 21px
        margin: 1%
        word-break: keep-all

//<426px
@media only screen and (min-width: 426px)

  .technologies .skills

    br
      display: none
